body {
   background: #f5f5f5!important;
}
.content-table {
    padding: 10px 15px;
}

.non-animation {
    transition-property: none !important;
    transform: none !important;
    transition: none !important;
    animation: none !important;
}

@media print {
    .non-print {
        display: none;
    }
}
